<h2>Create an Account</h2>

<fieldset>
        <form action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <p class="hint">Only letters (both upper and lower case) and digits are allowed.</p>
             <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <p class="hint">Must be at least 4 characters long (characters are to be letters and digits only), must contain at least one letter and at least one digit.</p>
            <button type="submit">Create Account</button>
        </form>
</fieldset>

    