
    <h2>Contact Us</h2>
    <form>
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
        <br>
        <label>Name:</label>
        <input type="text">
        <br>
        <label>Student ID:</label>
        <input type="text">
        <br>
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
        <br>
        <br>
        <button type="submit">Submit</button>
        <button type="reset">Clear</button>
    </form>
